* {
    box-sizing: border-box;
  }
  /*media queries*/
  /* mobile */
  @media (max-width: 767px)  {
    div {
      color: rgb(0, 139, 23);
    }
    .section {
      margin-bottom: 2px;
      border: 1px solid black;
      background-color: #e8f0fa;
      position: relative;
    }
  
    .title1 h2{
        background-color: black;
    }
    .title2 h2{
        background-color: maroon;
    }
    .title3 h2{
        background-color: khaki;
    }
    }
    h2{
      position: absolute;
      top: -20px;
      right: 0px;
    
      border: 1px solid white;
    }
    p{
      margin-top: 75px;
      margin-left: 5px;
    }
  /*tablet*/
  @media (min-width: 768px) and (max-width: 991px) {
    div {
      color: rgb(165, 42, 138);
    }
    .sctn1,
    .sctn2 {
      width: calc(50% - 2px);
      margin-right: 2px;
      margin-bottom: 2px;
      float: left;
      border: 1px solid black;
      background-color: #e8f0fa;
      position: relative;
    }
  
    .sctn3 {
      width: 100%;
      border: 1px solid black;
      background-color: #e8f0fa;
      margin-top: 2px;
      clear: both;
      position: relative;
    }
    .sctn3 .title3 h2{
      position: absolute;
      top: -20px;
      right: 0px;
      border: 1px solid black;
    }
    .sctn1 .title1 h2,
    .sctn2 .title2 h2
    {
      position: absolute;
      top: -20px;
      right: 0px;
      border: 1px solid black;
    }
    
    
    p{
      margin-top: 75px;
    }
    .sctn1 {
      margin-top: 20px;
    }
  
    .sctn2 {margin-top: 20px;}

    .title1 h2,
    .title2 h2,
    .title3  h2{
      position: absolute;
      top: 0px;
      right: 0px;
      border: 1px solid black;
    }
    .title1 h2{
        background-color: black;
    }
    .title2 h2{
        background-color: maroon;
    }
    .title3 h2{
        background-color: khaki;
      }
      p{
          margin-top: 20px;
          margin-left: 7px;
    }
  }
  /*desktop version*/
  @media (min-width: 992px) {
    div {
      color: blue;
    }
    .section {
      width: calc((100% / 3) - 4px);
      float: right;
      border: 1px black;
      border-style: solid;
      background-color: #e8f0fa;
      height: 235px;
      margin: 2px;
      position: relative;
    }

    .title1 h2{
        background-color: black;
    }
    .title2 h2{
        background-color: maroon;
    }
    .title3 h2{
        background-color: khaki;
    }
    p {
      margin-top: 95px;
      margin-left: 7px;
    }
  }
  
  /*test*/
  .header {
    width: 100%;
    text-align: center;
    font-size: 34px;
  }
  
  h2 {
    text-align: center;
    padding: 5px;
  }